body {
    background: transparent url('../images/nyack.jpg') center -49px repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#listeningto{
  margin:25px 85px;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
}

.main .container{
  width:100%
}
.name{
  padding:35px 0px 0px 75px;
}
.name div:nth-child(7){
  opacity:0
}

.main .content{
  width:100%;
  background: transparent url('../images/white.png');
 }
 .content.container {
  vertical-align:top;
  margin:10px;
  width:190px;
  display: inline-block;
 }
.slide {
  background: transparent url('../images/white.png');
  margin: 10px 0px;
  height:50px
}
.block{
 background-color:white;
 padding:5px;
 display:inline-block;
 *zoom:1;
 font-size:11px; color:#8A9BA2
}

.repeater{
  text-align:center;
  height:50px;
  width:50px;
  display:inline-block;
  *zoom:1;
  margin: 0px 5px 20px;
}
p.heading{
  color: white;
  font-size:24px;
  font-weight:bold;
  padding: 14px 13px;
}
.br {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}
[ng\:cloak], [ng-cloak], .ng-cloak, .none {
  display: none !important;
}
#pagination{
  text-align:center;
  width: 80%;
  margin: 0 auto;
}
#pagination .content{
  padding:10px;
}
#pagination .content .album{
  padding:10px 15px;
  background-color:white;
  text-align:left;
  font-size:11px;
}
#pagination .album img{
 display: inline-block;
 width:64px;
 margin-right:10px;
}
#pagination .album-name {
  vertical-align:top;
  line-height: 1.2em;
  display: inline-block;
  width:80px;
}
