body {
    background: transparent url('../images/farm.jpg') center -49px repeat-x;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.main .container{
  width:100%
}
.name{
  padding:175px 0px 0px 75px;
}
.name div:nth-child(7){
  opacity:0
}

.slide {
  background: transparent url('../images/white.png');
  margin: 10px 0px;
  height:50px
}
.repeater{
  text-align:center;
  height:50px;
  width:50px;
  display:inline-block;
  *zoom:1;
  margin: 0px 5px 20px;
}
p.heading{
  color: white;
  font-size:24px;
  font-weight:bold;
  padding: 14px 13px;
}
.br {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}
